
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
header{
    background-color: #fc0fc9cd;
    display: flex;
    padding: 30px 10%;
    align-items: center;
    justify-content: space-between;
    height: 20px;
}
a, li, button{
    text-decoration: none;
    color: white;
    align-items: center;
}
.navlinks{
    list-style: none;
}
.navlinks li{
    display: inline-block;
    padding: 0px 30px;
}
button{
    padding: 9px 25px;
    border-radius: 20px;
    background-color: #ff0090;
}
.navlinks li a:hover{
    color: rgb(121, 22, 242);
    transition: 0.5s;
    font-size: 1.2em;
}
button:hover{
    background-color: rgb(121, 22, 242);
    cursor: pointer;
    transition: 0.5s;
    font-size: 1.1em;
}
footer{

    width: 100%;
    height: 30px;
    padding: 2px;
    background-color:  #fc0fc9cd;
    color: white;
}
table{
    padding: 10px;
    color: black;
}
ol li{
    color: black;
}
img{
    border-radius: 10px;
}
.active{
    color: rgb(59, 20, 236);
}
p, h1, h4, a, button, body{
    font-family: 'Lexend', sans-serif;
}
.idk{
    color: rgb(165, 13, 155);
    text-decoration: underline;
}